*,
::before,
::after {
	box-sizing: border-box;
}

.logo{
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    fill: var(--clr-font);
    transition: var(--transition);

}

.switch{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.switch-track{
    background-color: var(--clr-switch-track);
    display: block;
    height: 2rem;
    width: 4rem;
    border-radius: 1rem;
    margin: 0 .2rem;
    cursor: pointer;
}
.switch-track::before{
    content: "";
    background-color: var(--clr-font);
    transition: var(--transition);
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    position: relative;
    left: 0rem;
}

.switch-track-dark::before{
    left: 2rem;
}


/**********************************/
/* 0. Variáveis
/* 1. Estilos gerais
/* 2. Navbar
/* 3. Loading
/* 4. Container
/* 5. State Select
/* 6. Status
/* 7. Data Box
/* 8. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

[data-theme="light"] {
	--clr-background:#F5F5F5;
	--clr-font:#111111;
    --clr-card:#D4C7AD;
    --clr-switch-track:#AABBCC;
    --clr-link:#643f08;

    --clr-confirmed:#D21212;
    --clr-deaths:#223344;
    --clr-vaccinated-1:#0000C7;
    --clr-vaccinated-2:#117711;

	--ff: "Cairo", sans-serif;
    --ts-caption: 600 1.8rem/1 var(--ff);
    --ts-normal-text: 400 1.6rem/1.4 var(--ff);
    --ts-normal-semibold: 600 1.6rem/1.4 var(--ff);

    --transition: all 0.2s linear;
    --shadow-card: 5px 5px 30px 0 rgba(51, 51, 51, 20%);
}

[data-theme="dark"] {
	--clr-background:#111111;
	--clr-font:#F5F5F5;
    --clr-card:#1A1A1A;
    --clr-switch-track:#AABBCC;
    --clr-link:#D4C7AD;

    --clr-confirmed:#FF3333;
    --clr-deaths:#AABBCC;
    --clr-vaccinated-1:#6666DD;
    --clr-vaccinated-2:#44BB44;
    
	--ff: "Cairo", sans-serif;
    --ts-caption: 600 1.8rem/1 var(--ff);
    --ts-normal-text: 400 1.6rem/1.4 var(--ff);
    --ts-normal-semibold: 600 1.6rem/1.4 var(--ff);

    --transition: all 0.2s linear;
    --shadow-card: 5px 5px 30px 0 rgba(221, 221, 221, 5%);
}

/**********************************/
/* 1. Estilos gerais
/**********************************/
html{
    font-size: 62.5%;
    font-family: var(--ff);
    color:var(--clr-font);
    transition: var(--transition);
}
body{
    background-color: var (var(--clr-background));
    transition: var(--transition);
}

section{
    background-color: var(--clr-card);
    transition: var(--transition);
    box-shadow: var(--shadow-card);
    padding: 1.6rem;
    border-radius: 1rem;
}

footer{
    background-color: var(--clr-card);
    transition: var(--transition);
    font: var(--ts-normal-semibold);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 19rem;
    padding-top: 40px;


}

/**********************************/
/* 2. Navbar
/**********************************/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8.5rem;
    padding: 1.6rem;
    background-color: var(--clr-card);
    transition: var(--transition);
    box-shadow: var(--shadow-card);
}

/**********************************/
/* 3. Loading
/**********************************/

.loading{
    position: fixed;
    background-color: var(--clr-background);
    transition: var(--transition);
    width: 100vw;
    height: 100vh;
    font-size: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

.loading-spinner{
    animation: spin 2s infinite linear;
}

.loading-hide{
    visibility: hidden;
    opacity: 0;
}

/**********************************/
/* 4. Container
/**********************************/
.container{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    margin: 3rem 1.6rem;

}


@media screen  and (min-width: 260px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen  and (min-width: 1170px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/**********************************/
/* 5. State Select
/**********************************/
.state-select{
    font: var(--ts-normal-semibold);
    background-color: var(--clr-card);
    transition: var(--transition);
    box-shadow: var(--shadow-card);
    border-radius: 2rem;
    position: relative;

}

.state-select-toggle{
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.state-select-toggle-icon{
    transition: var(--transition);

}
.state-select-toggle-icon-rotate{
    transform: rotate(-180deg);
}

.state-select-list{
    max-height:30rem ;
    /* overflow-y: scroll; */
    border-radius: 1rem;
    padding: 1.6rem;
    position: absolute;
    width: 100%;
    background-color: var(--clr-card);
    transition: var(--transition);
    box-shadow: var(--shadow-card);
    top:calc(100% + 1.5rem);
    visibility: hidden;
    opacity: 0;
}

.state-select-list-show{
    visibility: visible;
    opacity: 1;
    top: calc(100% + .75rem);
}

.state-select-list-search{
    background-color: var(--clr-background);
    transition: var(--transition);
    color: var(--clr-font);
    padding: 1.6rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 8px;
}

.state-select-list-search::placeholder{
    color: var(--clr-font);
    transition: var(--transition);
    opacity: .6;
    
}
.state-select-list-item{
    padding: 1.6rem;
    color: var(--clr-link);
    cursor: pointer;
    border-radius: 5px;
}
.state-select-list-item:hover{
    color: var(--clr-card);
    background-color: var(--clr-link);

}
.state-select-list-item-hide{
    display: none;
}

@media screen  and (min-width: 260px){
    .state-select{
        grid-column: 1 / -1;
    }
    
}

/**********************************/
/* 6. Status
/**********************************/

.status{
    min-height: 12rem;
    display: flex;
    align-items: center;

}
.status-icon{
    font-size: 3.6rem;
    margin-right: .8rem;

}
.info{
    font: var(--ts-caption);
    text-transform: uppercase;
}
.status-icon-better{
    color: rgb(255, 196, 0);
}
.status-icon-bad{
    color: rgb(145, 9, 9);
}


/**********************************/
/* 7. Data Box
/**********************************/

.data-box-header{
    font: var(--ts-caption);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

.data-box-description{
    font: var(--ts-normal-text);

}

/**********************************/
/* 8. Graphics
/**********************************/
#chart{
    /* background-color: ; 
    transition: var(--transition); */

}


/**********************************/
/* 9. Footer
/**********************************/

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.title-footer{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.p-footer{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
   
}